.git
.gitignore
.github

.venv
venv
__pycache__
*.pyc
.ipynb_checkpoints

data/raw
data/processed

*.dta
*.csv
*.parquet
*.xlsx
*.xls

mlruns
mlartifacts
mlflow.db

.vscode
.env
.env.*

*.log
*.tmp
*.temp

!data/
!data/processed/
!data/processed/base_liquidez_final.csv