# ============================================

# DATOS GRANDES / DATOS LOCALES

# ============================================

data/raw/*
data/processed/*

*.csv
*.dta
*.parquet
*.xlsx
*.xls

# ============================================

# PYTHON

# ============================================

**pycache**/
*.py[cod]
*$py.class

.venv/
venv/
env/

# ============================================

# JUPYTER

# ============================================

.ipynb_checkpoints/

# ============================================

# MODELOS ENTRENADOS

# ============================================

*.pkl
*.pickle
*.joblib

# ============================================

# MLFLOW

# ============================================

mlruns/
mlartifacts/

# ============================================

# ARCHIVOS TEMPORALES

# ============================================

*.tmp
*.temp
*.log

# ============================================

# SISTEMA OPERATIVO

# ============================================

.DS_Store
Thumbs.db

# ============================================

# VISUAL STUDIO CODE

# ============================================

.vscode/

# ============================================

# CREDENCIALES

# ============================================

.env
.env.*

# ============================================

# EXCEPCIÓN: DATASET PROCESADO DEL PROYECTO

# ============================================

!data/processed/
!data/processed/base_liquidez.parquet